body {
  margin: 0;
  font-family: "Tajawal", sans-serif;
  background: #000;
  color: #fff;
  text-align: center;
}

.container {
  width: 100%;
  padding: 20px;
}

h1 {
  color: gold;
  margin-bottom: 10px;
  font-size: 28px;
}

.subtitle {
  margin-bottom: 20px;
  color: #fff;
}

#upload {
  margin: 20px 0;
}

.frame-area {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 10px;
}

#canvas {
  width: 100%;
  height: 100%;
  display: block;
  touch-action: none;
}

#frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

button {
  background: gold;
  padding: 12px 22px;
  border: none;
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 15px;
}